table , td, th {
	border: 1px solid #595959;
	border-collapse: collapse;
}
td, th {
	table-layout: fixed;
	width: 100%;
	word-break: break-all;
}
td{
    padding: 3px;
    width: 6.6%x;
    height: 30px;
}    
td {
	background: #f0e6cc;
}
.even {
	background: #fbf8f0;
}
.odd {
	background: #fefcf9;
}
